.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    border-color: red;
    border:1px;

}
.tesbih{

    margin: 1px;
    text-align: center;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #ff758c, #ff7eb3); /* Farklı bir Gradient renk efekti */
}
.salavat {
    margin: 1px;
    text-align: center;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #ff758c, #ff7eb3); /* Farklı bir Gradient renk efekti */
}
.cizgi{
    border: 1px solid #ccc;
    width: 100%;

}

.text {
    margin: 0;
    font-size: 30px;
    letter-spacing: 4px; /* Aralık ekleyerek daha estetik bir görünüm sağlar */
    font-weight: 700; /* Kalın yazı stilini kullanır */
    z-index: 999;
    text-align: center;

    width: 100%;
    margin: 20px 0;
}