/* xxx.css */
.container {
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}
.swiper-item {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}
.primary-item {
    background-color: #007dff;
}
.warning-item {
    background-color: #ff7500;
}
.success-item {
    background-color: #41ba41;
}